fastapi~=0.110.1
orjson~=3.10.0
starlette~=0.37.2
pip~=23.2.1
wheel~=0.41.2
cryptography~=42.0.5
filelock~=3.6.0
Django~=4.1.7
asgiref~=3.6.0
sqlparse~=0.4.3
numpy~=1.26.2
requests~=2.25.1
six~=1.16.0
python-dateutil~=2.8.1
setuptools~=68.1.2
packaging~=20.9
pyparsing~=2.4.7
uvicorn~=0.29.0